/* @media all and (max-width: 500px) {

    .header-left {
      float: none;
      display: block;
      text-align: left;
    }
  
    .header-right {
      float: none;
    }
  } */
  
/* SMARTPHONE */

@media all and (max-width: 670px) {
    .container {
        width: 200px;
    }
    
    .category {
        width: 100%;
    }

    h1 {
        color: blue;
    }
}

/* TABLET */

@media(max-width: 1000px) {
    .container {
        width: 670px;
    }

    h1 {
        color: green;
    }

    /* TABLET main-section */

    /* TABLET category-section */
    .category-section {
        height: 870px;
        text-align: center;
        padding: 20px 0px;
    }

    .category, .tutorial {
        width: 50%;
    }

    .category-txt {
        width: 50%;
        display: inline-block;
        margin: 10px 0px;
    }

    /* TABLET tutorial-section */    
    .tutorial-section {
        height: 280px;
        text-align: center;
        padding: 20px 0px;
    }

    /* TABLET contact-form */


}
